
<h1 class="center-text">Find an Immigration Lawyer</h1>
<h2 class="center-text">Immigration Lawyers in <%= @city  %></h2>  
<br>    
  <table class="table table-bordered">
    <thead>
     <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Address</th>
        <th>City</th>
        <th>Phone</th>
        <th>Notes</th>
      </tr>
    </thead>
    <tr>
      <% @lawyers.each do |lawyer|%>
      <tbody>
      <tr>
        <td><%= lawyer.firstname %></td>
        <td><%= lawyer.lastname %></td>
        <td><%= lawyer.address %></td>
        <td><%= lawyer.city %>, <%= lawyer.state %> <%= lawyer.zipcode %></td>
        <td><%= lawyer.phone %></td>
        <td><%= lawyer.notes %></td>
      </tr>
      <% end %>
      </tbody>


      <div class="container">
  <div class="row">
           <div id="custom-search-input">
                            <div class="input-group col-md-12">
                               <form action="/lawyers" method="get">
                                <input type="text" name="city_name" class="  search-query form-control" placeholder="Enter Your City" />
                                <span class="input-group-btn">
                                    <button class="btn btn-danger" type= "" type="button">
                                        <span class=" glyphicon glyphicon-search"></span>
                                    </button>
                                </span>
                            </div>
                        </div>
  </div>
</div>


  <p class="center-text"><em>This site is a project by Rachel Glickhouse, an MA student in social journalism at the CUNY Graduate School of Journalism. The list of attorneys was pulled from the <a href="http://www.justice.gov/eoir/free-legal-services-providers">Justice Department's PDF listings</a>.</em></p><br>

      






